name: CI
on: [push, pull_request]
jobs:

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Setup influxdb
        run: |
          source ./scripts/setup_influxdb.sh
          echo "INFLUXDB_V2_URL=$INFLUXDB_V2_URL" >> $GITHUB_ENV
          echo "INFLUXDB_V2_TOKEN=$INFLUXDB_V2_TOKEN" >> $GITHUB_ENV
          echo "INFLUXDB_V2_BUCKET_ID=$INFLUXDB_V2_BUCKET_ID" >> $GITHUB_ENV
          echo "INFLUXDB_V2_ORG_ID=$INFLUXDB_V2_ORG_ID" >> $GITHUB_ENV

      - name: Go fmt
        run: make fmt

      - name: Run unit tests
        run: make test

      - name: Run acceptance tests
        run: make testacc
